.bg-blue-light{
  background: #eff3f8!important;
}


.bg-c-red{
  background: $c-red!important;
}
.bg-c-orange{
  background: $c-orange!important;
}
.bg-c-yellow{
  background: $c-yellow!important;
}
.bg-c-blue{
  background: $c-blue!important;
}



